//--- BASE ---//




// rest the values
/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  //font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
  //position: relative;
  min-height: 100%;
  //padding-bottom: 33.375rem;
}
main {
  /*  necessary only for the fixed main header
  @include media($x-small) {
    margin-top: 3.9285714286rem;
  }
  */
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
}



//--- BASE FUNCTIONS ---//

// function that retun the padding values based on the $baseline value
@mixin pads($padding: 1rem) {
  $padding-list: null;
  @each $value in $padding {
    $value: if($value == 'default', 1rem, $value);
    $padding-list: join($padding-list, $value + rem);
  }
  padding: $padding-list;
} 

//--- BASE STYLES SHARED ---//

.error-page {
  @include outer-container();
  @include pads(0 2 0 2);
  margin-bottom: 4rem;


  h1 {
    @include span-columns(12);
    @include pads(6 0 5 0);
    @extend %title;
  }
  p {
    @include span-columns(12);
    @extend %medium-weight;
    @extend %medium-size;
    margin-bottom: 2rem;
  }
}


// standard hr
hr {
  //margin: 0 0 $baseline 0;
  border: 0;
  border-top: solid 1px;
  border-color: color(gray);
}

// calss to hide stuffs but still accessible
.hidden {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: 10000;
  text-align: center;
  font-size: 0px;
}

// background with brand color
.brand-background {
  background-color: color(brand);
}

.hr-solid {
    @include pads(0 0 0 0);

    border: 0;
    border-top: solid 0.375rem;
    border-color: color(brand);
}

//--- BASE SHARED STRUCTURES ---//

// to be applied to the <ul> element
.container-list {
  @include pads(0 0 3 0);
  @extend %baseline-size;
  @extend %regular-weight;

  li {
    @include outer-container();
    @include pads(0 2 3 2);

    div {
      @include span-columns(4);
      @include pads(1 0 0 0);

      @include media($x-small) {
        @include span-columns(4);
      }
      @include media($small) {
        @include span-columns(4);
      }
      @include media($medium) {
        @include span-columns(8);
      }

      h3 {
        @extend %paragraph-title;
      }
    }

    article {
      @include span-columns(8);
      @include pads(1 0 0 0);

      @include media($x-small) {
        @include span-columns(4);
      }
      @include media($small) {
        @include span-columns(4);
      }
      @include media($medium) {
        @include span-columns(8);
      }

    }
  } 
}

// to be abblied to the box style content
.container-boxes {
  @include outer-container();
  @include pads(0 2 3 2);

  > li {    // just the first childrends

    @include span-columns(4);
    @include pads(1 0 3 0);
  
    @include omega(3n);

    border-top: 1px solid color(gray);

    .headline {
      margin-bottom: 1rem;
    }

    //position: relative;

    //display: block;

    //height: 25rem;

    @include media($desktop) {
      @include span-columns(4);
      @include omega(3n);
    }

    @include media($large) {
      @include omega-reset(2n);
      @include span-columns(4);
      @include omega(3n);
    }

    @include media($medium) {
      @include omega-reset(3n);
      @include span-columns(4);
      @include omega(2n);
    }

    @include media($small) {
      @include omega-reset(2n);
      @include span-columns(4);
      @include omega(1n);
    }

    @include media($x-small) {
      @include span-columns(4);
      @include omega(1n);
    }

    section {
      @include pads(0 0.5 0 0.5);

      article {
        margin-top: 1rem;
      }
    }
  }

  img {
    @include pads(1 0.5 0 0);
    width: 100%;
    bottom: 0;
  }
}

// to be appliad to the >section> content

// OLD!!! NOT USED ANYMORE
.container-sections {
  @include outer-container();
  @include pads(0 2 6 2);

  h3 {
    @include span-columns(4);
    @include pads(1 0 1 0);
    @extend %paragraph-title;

    @include media($x-small) {
      @include span-columns(4);
      @include pads(1 0 0 0);
    }
    @include media($small) {
      @include span-columns(4);
      @include pads(1 0 0 0);
    }
    @include media($medium) {
      @include span-columns(8);
      @include pads(1 0 0 0);
    }

  }

  article {
    @include span-columns(8);
    @extend %body;
    @include pads(1 0 1 0);
    margin-right: 0;

    @include media($x-small) {
      @include span-columns(4);
      @include pads(0 0 1 0);
    }
    @include media($small) {
      @include span-columns(4);
      @include pads(0 0 1 0);;
    }
    @include media($medium) {
      @include span-columns(8);
      @include pads(0 0 1 0);;
    }

    p {
      padding-bottom: 1rem;
    }

    p:last-child {
      padding: 0;
    }

  }
}


.body {
  @extend %body;

  strong {
    @extend %bold-weight;
  }
}

.link-box {
  text-decoration: none;
  color: color(black);
}

.link {
  @extend %link;
  text-decoration: none;

  span {
    border-bottom: 1px solid;
  }

  &:hover {

    span {
      border-bottom: 2px solid;
    }
  }

  /*

  display: block;
  padding-top: .75 * $baseline;
  */
}

// general paragraph link

p a:hover, p a:active {
  color: color(brand);
  text-decoration: none;
  border-bottom: 1px solid color(brand);
  @extend %bold-weight;
}

p a, p a:visited {
  color: color(brand);
  text-decoration: none;
  border-bottom: 1px solid color(brand);
}

.link-back {
  @include outer-container();
  @include pads(4 2 0 2);
  display: block;
  float: none;
}

.headline {
  @extend %headline;

}

.title {
  @include outer-container();
  @include pads(6 2 5 2);
  @extend %title;
  display: block;
  float: none;

  @include media($x-small) {
    @include pads(3.5714 2 4.2857 2);
    //margin-top: 4rem; // fot the fixed header menu
  }
}

.title-article {
  @include outer-container();
  @include pads(1 2 5 2);
  @extend %title;
  display: block;
  float: none;
}

.button {
  @extend %button;
  //border: solid $baseline * .1 color(white);
  @include pads(0.5 0.5 0 0.5);
  @extend %button;
  text-decoration: none;
  text-align: center;
  display: block;
  border: none;
  background-color: color(brand);
  color: color(white);
  height: 2.5rem;
  cursor: pointer;

  &:hover {
    background-color: color(accent-dark);
    color: color(white);
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
