//--- COLORS ---//

// to test the contrast ratio: http://dasplankton.de/ContrastA

$colors: (
	white: #FFFFFF,
	black: #212121,
	//brand: rgba(194, 15, 47, 1),
	brand: #212121,
	brand-lighter: #F7F5F5,
	brand-kit: rgba(194, 15, 47, 1),
	brand-kit-lighter: rgba(194, 15, 47, 0.1),
	brand-kit-header: rgba(194, 15, 47, 0.9),
	gray: rgba(170, 170, 170, 1),
	gray-light-bg: rgba(170, 170, 170, 0.1),
	accent-dark: #AE112D,
	accent-darker: #9F152E,
	visita: rgba(184, 15, 126, 1),
	visita-light: rgba(184, 15, 126, 0.15),
	comunicazione: rgba(255, 220, 14, 1),
	comunicazione-light: rgba(255, 220, 14, 0.15),
	orientamento: rgba(184, 15, 126, 1),
	orientamento-light: rgba(184, 15, 126, 0.15),
	opere: rgba(237, 105, 28, 1),
	opere-light: rgba(237, 105, 28, 0.15)
	);

// function to get the colors
@function color($key) {
		@return map-get($colors, $key);
}