//--- MAIN NAVIGATION (HEADER) ---//

.main-nav {
	background-color: color(brand);

	nav {
		@include outer-container();

		.main-logo {
			@extend %main-logo;
			@include pads(2 2 2 2);
			display: inline-block;

			&::after {
				content: "Mediazione Cultura Inclusione";
			}

			@include media($x-small) {
				@include pads(1 2 1 2);
				font-size: 1rem;
				font-size: 4vw;
				&::after {
					content: "MCI";
					font-size: 1.2857rem;
				}
			}

			@include media($small) {
				font-size: 1rem;
				font-size: 4vw;
			}
		}

		.menu-button {
			display: none;

			a {
				@extend %main-nav-button;
				@include pads(2 2 2 2);
				position: absolute;
				right: 0;
				top: 0;
				border-left: 1px solid color(white);
				width: 8rem;
				text-align: center;

				@include media($x-small) {
					@include pads(1 2 1 2);
				}

				&::before {
					content: "menu";
				}

				&.open::before {
					content: "chiudi";
				}
			}

			&:hover {
				background-color: color(brand-dark);
			}
			@include media($mobile) {
				display: block;
			}
		
		}
		
		> ul {
			display: inline-block;

			@include media($mobile) {
				display: block;		// necessary to avoid extra spaces for top/bottom text glyphis with overflow: hidden
				background-color: color(white);
				width: 100%;
				height: 0;
				overflow: hidden;
				@include transition( height .4s);
			}

			&.open {
				/*
				@include media($x-small) {
	 				height: 100vh;
	 				//max-height: 100vh;
	 			}	

	 			@include media($small) {
	 				//max-height: 701px;
	 				height: 384px;
	 			}

	 			@include media($medium) {
	 				//max-height: 701px;
	 				height: 384px;
	 			}
	 			*/

	 			// scorllable 

	 			@include media($mobile) {
	 				height: 24rem;
	 			}
			}

			> li {
				display: inline;

				@include media($mobile) {
					display: list-item;
					border-bottom: 1px solid color(brand);

					&:first-child {
						border-bottom: none;
					}
				}

				// style all the link item of the first level
				> a {
					@extend .class-main-nav-button;
					@include pads(2 1.5625 2 1.5625);
					display: inline-block;
					
					&:hover {

						span {
							padding-bottom: 0.33333rem;
							border-bottom: 1px solid color(white);

							&.active {
								border-bottom: none;
							}
						}
					}

					&.active {
						@include pads(2 2 1.5 2);
						border-bottom: 0.5rem solid color(white);
					}

					@include media($mobile) {
						@include pads(1 0 1 2);
						display: list-item;
						width: 100%;

						&.resources-li-menu-mobile {
							margin-top: 12rem;
						}

						&:hover {
							background-color: color(brand-lighter);

							span {
								border-bottom: none;
							}
						}
						
						span {
							color: color(brand);
						}

						&.active {
							@include pads(1 0 1 2);
							border-bottom: none;
						}
					}

				}
			}
		}

		.conatiner-second-level {
			position: absolute;
			left: 0;
			width: 100%;
			display: block;
			float: left;

			background-color: color(white);
			border-bottom: 1px solid color(brand);

			@include media($mobile) {
				position: static;
				border-bottom: none;

				&.visuallyhidden {		// edit for mobile only
					border: 0;
					clip: auto;
					height: auto;
					margin: 0;
					overflow: visible;
					padding: 0;
					position: static;
					width: 100%;
				}
			}

			.second-level {
				@include outer-container();

				> li {
					display: inline;

					@include media($mobile) {
						display: list-item;

						&:last-child {
							border-bottom: 1px solid color(brand);
						}

						&:first-child {
							border-top: 1px solid color(brand);
						}


						&:hover {
							background-color: color(brand-lighter);
						}
					}		

					> a {
						@extend .class-sec-nav-button;
						@include pads(1 2 1 2);
						display: inline-block;

						&:hover {

							span {
								padding-bottom: 0.3333333rem;
								border-bottom: 1px solid color(brand);

								&.active {
									border-bottom: none;
								}
							}
						}
						&.active {
							@extend %second-element-active-font-style;
						}

						@include media($mobile) {
							display: inline-block;
							@include pads(1 0 1 2);
							width: 100%;

							&:hover {
								span {
									padding-bottom: 0;
									border-bottom: none;
								}
							}
							
							span {
								color: color(brand);
								padding: 0;
							}
						}
					}
				}
			}
		}
	}
}


/* OLD

.main-nav {
	background-color: color(brand);

	@include media($x-small) {
		position: fixed;
		width: 100%;
		top: 0;
	}


	nav {
		@include outer-container();

		.main-logo {
			@extend %main-logo;
			@include pads(2 2 2 2);
			display: inline-block;

			&::after {
				content: "Mediazione Cultura Inclusione";
			}

			@include media($x-small) {
				//visibility: hidden;
				@include pads(1 2 1 2);
				font-size: 1rem;
				font-size: 4vw;
			}

			@include media(max-width 320px 4) {
				&::after {
					content: "MCI";
					font-size: 1.2857rem;
				}
			}


			@include media($small) {
				//visibility: hidden;
				font-size: 1rem;
				font-size: 4vw;
			}
		}

		.menu-button {
			display: none;

			a {
				@extend %main-nav-button;
				@include pads(2 2 2 2);
				position: absolute;
				right: 0;
				top: 0;
				border-left: 1px solid color(white);
				width: 8rem;
				text-align: center;

				@include media($x-small) {
					@include pads(1 2 1 2);
				}

				&::before {
					content: "menu";
				}

				&.open::before {
					content: "chiudi";
				}
			}

			&:hover {
				background-color: color(brand-dark);
			}
			
			@include media($mobile) {
				display: block;
			}
		
		}

		ul {
			display: inline-block;

			@include media($mobile) {
				display: block;		// necessary to avoid extra spaces for top/bottom text glyphis with overflow: hidden
				background-color: color(white);
				width: 100%;
				height: 0;
				overflow: hidden;
				@include transition( height .4s);

			}

			li {
				display: inline;

				&.menu-item-sec {
					display: none;
				}

				@include media($mobile) {
					display: list-item;

					&.menu-item-sec {
						display: list-item;
						@include pads(0 0 0 0);
					}

					&:hover {
						background-color: color(brand-lighter);
					}
				}
			}

			&.open {
				//display: inline-block;
	 			//max-height: 701px;

	 			@include media($x-small) {
	 				height: 100vh;
	 				//max-height: 100vh;
	 			}	

	 			@include media($small) {
	 				//max-height: 701px;
	 				height: 384px;
	 			}

	 			@include media($medium) {
	 				//max-height: 701px;
	 				height: 384px;
	 			}
			}
		}

		.menu-item {
			@extend %main-nav-button;
			@include pads(2 2 2 2);
			display: inline-block;

			@include media($mobile) {
				@include pads(1 0 1 2);
				width: 100%;
				color: color(brand);
			}

			@include media($no-mobile) {
				@include pads(2 1.5625 2 1.5625);

				&:hover {

					span {
						padding-bottom: 0.33333rem;
						border-bottom: 1px solid color(white);

						&.active {
							border-bottom: none;
						}
					}
				}

				&.active {
					@include pads(2 2 1.5 2);
					border-bottom: 0.5rem solid color(white);
				}
			}					
		}

		@include media ($mobile) {

			li > .menu-item {
				border-top: 1px solid color(brand);	
			}

			li:last-child .menu-item {
				border-bottom: 1px solid color(brand);	
			}

			li:first-child .menu-item {
				border-top: none;
				border-bottom: 1px solid color(brand);	
			}

		}

		.menu-item-sec .menu-item {
			border: none;
		}
	}
}
*/