//--- MAIN NAVIGATION (HEADER) ---//

.main-nav {
	background-color: color(brand);

	nav {
		@include outer-container();

		.main-logo {
			@extend %main-logo;
			@include pads(2 2 2 2);
			display: inline-block;

			&::after {
				content: "Mediazione Cultura Inclusione";
			}

			@include media($x-small) {
				@include pads(1 2 1 2);
				font-size: 1rem;
				font-size: 4vw;
				&::after {
					content: "MCI";
					font-size: 1.2857rem;
				}
			}

			@include media($small) {
				font-size: 1rem;
				font-size: 4vw;
			}
		}

		.menu-button {
			display: none;

			a {
				@extend %main-nav-button;
				@include pads(2 2 2 2);
				position: absolute;
				right: 0;
				top: 0;
				border-left: 1px solid color(white);
				width: 8rem;
				text-align: center;

				@include media($x-small) {
					@include pads(1 2 1 2);
				}

				&::before {
					content: "menu";
				}

				&.open::before {
					content: "chiudi";
				}
			}

			&:hover {
				background-color: color(brand-dark);
			}
			@include media($main-nav-mobile) {
				display: block;
			}
		
		}
		
		> ul {
			display: inline-block;

			@include media($main-nav-mobile) {
				display: block;		// necessary to avoid extra spaces for top/bottom text glyphis with overflow: hidden
				background-color: color(white);
				width: 100%;
				height: 0;
				overflow: hidden;
				@include transition( height .4s);
			}

			&.open {
				/*
				@include media($x-small) {
	 				height: 100vh;
	 				//max-height: 100vh;
	 			}	

	 			@include media($small) {
	 				//max-height: 701px;
	 				height: 384px;
	 			}

	 			@include media($medium) {
	 				//max-height: 701px;
	 				height: 384px;
	 			}
	 			*/

	 			// scorllable 

	 			@include media($main-nav-mobile) {
	 				height: 28rem;
	 			}
			}

			> li {
				display: inline;

				@include media($main-nav-mobile) {
					display: list-item;
					border-bottom: 1px solid color(brand);

					&:first-child {
						border-bottom: none;
					}
				}

				// style all the link item of the first level
				> a {
					@extend .class-main-nav-button;
					@include pads(2 1.5625 2 1.5625);
					display: inline-block;
					
					&:hover {

						span {
							padding-bottom: 0.33333rem;
							border-bottom: 1px solid color(white);

							&.active {
								border-bottom: none;
							}
						}
					}

					&.active {
						@include pads(2 2 1.5 2);
						border-bottom: 0.5rem solid color(white);
					}

					@include media($main-nav-mobile) {
						@include pads(1 0 1 2);
						display: list-item;
						width: 100%;

						&.after-secondmenu-li-menu-mobile {
							margin-top: 12rem;
						}

						&:hover {
							background-color: color(brand-lighter);

							span {
								border-bottom: none;
							}
						}
						
						span {
							color: color(brand);
						}

						&.active {
							@include pads(1 0 1 2);
							border-bottom: none;
						}
					}

				}
			}
		}

		.conatiner-second-level {
			position: absolute;
			left: 0;
			width: 100%;
			display: block;
			float: left;

			background-color: color(white);
			border-bottom: 1px solid color(brand);

			@include media($main-nav-mobile) {
				position: static;
				border-bottom: none;

				&.visuallyhidden {		// edit for mobile only
					border: 0;
					clip: auto;
					height: auto;
					margin: 0;
					overflow: visible;
					padding: 0;
					position: static;
					width: 100%;
				}
			}

			.second-level {
				@include outer-container();

				> li {
					display: inline;

					@include media($main-nav-mobile) {
						display: list-item;

						&:last-child {
							border-bottom: 1px solid color(brand);
						}

						&:first-child {
							border-top: 1px solid color(brand);
						}


						&:hover {
							background-color: color(brand-lighter);
						}
					}		

					> a {
						@extend .class-sec-nav-button;
						@include pads(1 2 1 2);
						display: inline-block;

						&:hover {

							span {
								padding-bottom: 0.3333333rem;
								border-bottom: 1px solid color(brand);

								&.active {
									border-bottom: none;
								}
							}
						}
						&.active {
							@extend %second-element-active-font-style;
						}

						@include media($main-nav-mobile) {
							display: inline-block;
							@include pads(1 0 1 2);
							width: 100%;

							&:hover {
								span {
									padding-bottom: 0;
									border-bottom: none;
								}
							}
							
							span {
								color: color(brand);
								padding: 0;
							}
						}
					}
				}
			}
		}
	}
}
