// Sensible art workshop

body.senseable-art {

	$desktop: new-breakpoint(min-width 891px 12);
	$tablet: new-breakpoint(min-width 640px max-width 890px 8);
	$mobile: new-breakpoint(max-width 639px 4);

	$nav-breakpoint: 750px;

	@extend %baseline-size;
	@extend %regular-weight;

	:target:before {
		content:"";
		display:block;
		height:90px; /* fixed header height*/
		margin:-90px 0 0; /* negative fixed header height */
	}


	.header.senseable-main-nav {
		z-index: 100;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 4rem;
		background-color: color(brand);
		border-bottom: 1px solid color(white);

		.senseable-menu-button {
			display: none;

			a {
				@include pads(1 2 1 2);
				position: absolute;
				right: 0;
				top: 0;
				border-left: 1px solid color(white);
				width: 8rem;
				text-align: center;
				@extend %light-weight;
				color: color(white);
				text-decoration: none;
				font-size: 1.2857rem;

				@include media($x-small) {
					@include pads(1 2 1 2);
				}

				&::before {
					content: "menu";
				}

				&.open::before {
					content: "close";
				}
			}

			&:hover {
				background-color: color(brand-dark);
			}
			@media screen and (max-width: $nav-breakpoint) {
				display: block;
			}

		}

		nav {
			@include outer-container();
			@include pads(1 0 0 0);
			@extend %medium-size;
			@extend %medium-weight;
			color: color(white);

			a.logo {

				color: color(white);

				h1 {
					margin-left: 1rem;
					float: left;
					color: color(white);

					&::after {
						content: "Mediation Culture Inclusion";
					}

					@include media(max-width 405px) {
						&::after {
							content: "MCI";
							font-size: 1.2857rem;
						}
					}
				}
			}

			ul {
				display: inline-block;
				float: right;
				margin-right: 1rem;
				margin-top: 0rem;

				@media screen and (max-width: $nav-breakpoint) {
					margin-top: 1rem;
					margin-right: 0rem;
					display: block;		// necessary to avoid extra spaces for top/bottom text glyphis with overflow: hidden
					background-color: color(white);
					width: 100%;
					height: 0;
					overflow: hidden;
					@include transition( height .2s);
				}

				&.open {
					@media screen and (max-width: $nav-breakpoint) {
		 				//height: 16rem;		// when the abstract is present in the menu
		 				height: 100vh;
		 			}
				}

				li {
					display: inline;

					@media screen and (max-width: $nav-breakpoint) {
						display: list-item;
						border-bottom: 1px solid color(brand);
						@include pads(1 0 1 2);
					}
					
					a {
						color: color(white);
						text-decoration: none;

						&:hover {
							color: color(white);
							border-bottom: 2px solid color(white);
						}

						&:visited {
							color: color(white);
						}
						&:active {
							color: color(white);
						}

						@media screen and (max-width: $nav-breakpoint) {

							color: color(brand);

							&:hover {
								color: color(brand);
								border-bottom: 2px solid color(white);
							}

							&:visited {
								color: color(brand);
							}
							&:active {
								color: color(brand);
							}
						}
					}
				}
			}
		}
	}

	.container {
		@include outer-container();
		@include pads(4 1 4 1);
	}

	h2 {
		@extend %baseline-size;
		@extend %bold-weight;
		margin-bottom: 0.5rem;
	}

	.description {
		@include span-columns(8);
		@extend %medium-size;
		@extend %medium-weight;

		@include media($tablet) {
			@include span-columns(8);
		}
		@include media($mobile) {
			@include span-columns(4);
		}
	}

	.hr-container {
		@include outer-container();
		@include pads(0 1 0 1);
		hr {
			@include span-columns(12);
			border-top: 0.1rem solid color(brand);
		}
	}

	.workshop-title {
		background-color: color(brand);
		color: color(white);
		border-top: 1px solid color(white);
		padding-top: 4rem;

		.container {
			padding-bottom: 5rem;
		}
		.workshop-subtitle {
			@include span-columns(12);
			@extend %large-size;
			@extend %medium-weight;
			color: color(white);
		}
		h1 {
			@extend %large-size;
			@extend %bold-weight;
			color: color(white);
		}
		.description {
			@extend %large-size;
			@extend %medium-weight;
			color: color(white);
		}
		.place-time {
			@include span-columns(8);
			@extend %baseline-size;
			color: color(white);
			margin-top: 1rem;
		}
	}

	.people-lists {
		@include span-columns(12);
		margin-top: 3rem;

		@include media($tablet) {
			@include span-columns(8);
		}
		@include media($mobile) {
			@include span-columns(4);
		}

		.list {
			@include span-columns(4);
			@include omega(3n);
			margin-bottom: 2rem;

			@include media($tablet) {
				@include span-columns(4);
				@include omega(2n);
			}

			@include media($mobile) {
				@include span-columns(4);
			}

			@extend %baseline-size;

			h3 {
				@extend %bold-weight;
				margin-bottom: 0.5rem;
			}

			ul {
				li {
					@extend %regular-weight;
					a {
						color: color(black);
						text-decoration: none;
						&:hover {
							border-bottom: 1px solid color(black);
						}					
					}
				}

				li + li {
					margin-top: 0.3rem;
				}
			}
		}		
	}

	.project-lists {
		a {
			color: color(brand);
			text-decoration: none;
		}
		a:hover {
			border-bottom: none;

			img {
				transform: scale(1.05);
				transition: transform 0.3s;
			}
		}

				
		ul {
			li {
				@include span-columns(3);
				@include omega(4n);
				margin-top: 2rem;

				@media screen and (min-width: 301px) and (max-width: 600px)  {
					@include span-columns(6);
					@include omega(2n);
				}
				@media screen and (max-width: 300px) {
					@include span-columns(12);
					@include omega(1n);
					margin-top: 4rem;
				}


				img {
					width: 100%;
					height: auto;
					z-index: 1;
					transform: scale(1);
					transition: transform 0.3s;
				}

				h3 {
					@extend %bold-weight;
					padding-top: 1rem;
					width: 100%;
					text-align: center;

				}
				
			}
		}
	}

	.info-items {
		@include span-columns(12);

		@include media($tablet) {
			@include span-columns(8);
		}
		@include media($mobile) {
			@include span-columns(4);
		}

		div + div {
			margin-bottom: 1rem;

			@include media($tablet) {
				margin-top: 2rem;
			}
			@include media($mobile) {
				margin-top: 2rem;
			}
		}

		.info-info {
			@include media($desktop) {
				@include span-columns(8 of 12);
			}
			@include media($tablet) {
				@include span-columns(8);

			}
			@include media($mobile) {
				@include span-columns(4);
			}

			@extend %medium-size;
			@extend %medium-weight;
			p + p {
				margin-top: 1rem;
			}

			a {
				text-decoration: none;
				color: color(black);

				&:hover {
					border-bottom: 1px solid color(black);
				}
			}
		}

		.info-more {
			margin-top: 2rem;
			@include media($desktop) {
				@include span-columns(4 of 12);
			}

			@include media($tablet) {
				@include span-columns(8/3 of 8);
			}
			@include media($mobile) {
				@include span-columns(4);
			}

			a {
				text-decoration: none;
			}
		}

		img {
			width: 2.5rem;
			height: auto;
		}

		#license {
			h2 {
				margin-bottom: 0.8rem;
			}

			p {
				font-size: 0.83rem;
			}
		}

		#gallery {
			img {
				margin-top: 0.4rem;
			}
		}
	}

	footer {
		height: 4rem;
		background-color: color(brand);
	}

}







body.senseable-art.senseable-art-project .header.senseable-main-nav {
	border-bottom: none;
}
body.senseable-art.senseable-art-project {

	a:link, a:visited, a:hover, a:active {
		color: color(brand);
		text-decoration: none;
		border-bottom: 1px solid color(brand);
	}

	.header.senseable-main-nav {
		position: relative;
		.back-button {
			z-index: 200;
			float: right;
			color: color(white);
			margin-right: 1rem;
		}

		a.logo {

			h1 {
				margin-left: 1rem;
				float: left;
				color: color(white);
				&::after {
					content: "Senseable Art";
				}

				@include media(max-width 405px) {
					&::after {
						content: "Senseable Art";
						font-size: 1.2857rem;
					}
				}
			}
		}


	}

	.project-title {
		//margin-top: 56px;
		background-position: center center;
		//background-attachment: fixed;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		color: color(white);
		//border-top: 1px solid color(white);
		padding-top: 4rem;
		position: relative;

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, .6);
		}

		.container {
			padding-bottom: 7rem;
			position: relative;

		}
		h1 {
			@extend %large-size;
			@extend %bold-weight;
			color: color(white);
		}
		.project-subtitle {
			@include span-columns(8);
			@extend %medium-size;
			@extend %medium-weight;
			color: color(white);
			line-height: 130%;
		}
		.project-authors {
			@include span-columns(8);
			@extend %baseline-size;
			color: color(white);
			margin-top: 1rem;
		}

		@include media($mobile) {
			.project-authors, .project-subtitle {
				@include span-columns(8);
			}
			.project-subtitle {
				margin-top: 0.4rem;
			}
		}
	}

	.container > p, h3, h4 {
		@include span-columns(8);

		@include media($mobile) {
			@include span-columns(8);
		}
	}

	h2 {
		@extend %medium-size;
		@extend %bold-weight;
		margin-bottom: 1.5rem;
	}

	h3, h4 {
		@extend %medium-weight;
	}

	p + h3, p + h4 {
		margin-top: 1.5rem;
	}

	h3 + p, h4 + p {
		margin-top: 0.33rem;
	}

	.references {
		p + p {
			margin-top: 0.5rem;
		}
	}

	.links {
		a {
			border-bottom: none;
		}
		img {
			width: 2.5rem;
			height: auto;
		}

		a + a {
			margin-left: 0.83rem;
		}
	}

	.container-slideshowinstead {
		@include outer-container();
		@include pads(4 1 1 1);	
	}

	#slideshow-container {
		max-width: 1024px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		margin-bottom: 4rem;

		&:before {
			content: "";
			display: block;
			//padding-top: 59.2%;	// 569px/960px = 0.5927083333
			padding-top: 57.3%;
		}

		iframe {
			position: absolute;
			top: 0;
			left: 1rem;
			right: 0;
			bottom: 0;
			height: 100%;
			padding-right: 2rem;
		}
		
	}

	ul.gallery {
		li {
			margin-bottom: 1rem;

			@include media($desktop) {
				@include span-columns(3);
				@include omega(4n);
			}

			@include media($large) {
				@include span-columns(3);
				@include omega(4n);
			}

			@include media($medium) {
				@include span-columns(8/3);
				@include omega(3n);
			}

			@include media($small) {
				@include span-columns(2);
				@include omega(2n);
			}

			@include media($x-small) {
				@include span-columns(2);
				@include omega(2n);
			}

			figure {
				width: 100%;
				padding-bottom: 100%;
				overflow: hidden;
				position: relative;

				a {

					img {
						position: absolute;
						margin: auto;
						left: -100%;
						right: -100%;
						top: -100%;
						bottom: -100%;

						&.portrait {
							width: 100%;
							height: auto;
						}

						&.landscape {
							height: 100%;
							width: auto;

						}
					}
				}
			}
		}
	}

}