// Sensible art workshop

body.senseable-art {

	$desktop: new-breakpoint(min-width 891px 12);
	$tablet: new-breakpoint(min-width 640px max-width 890px 8);
	$mobile: new-breakpoint(max-width 639px 4);

	@extend %baseline-size;
	@extend %regular-weight;

	.header.senseable-main-nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 4rem;
		background-color: color(brand);
		border-bottom: 1px solid color(white);

		.senseable-menu-button {
			display: none;

			a {
				@include pads(1 2 1 2);
				position: absolute;
				right: 0;
				top: 0;
				border-left: 1px solid color(white);
				width: 8rem;
				text-align: center;
				@extend %light-weight;
				color: color(white);
				text-decoration: none;
				font-size: 1.2857rem;

				@include media($x-small) {
					@include pads(1 2 1 2);
				}

				&::before {
					content: "menu";
				}

				&.open::before {
					content: "close";
				}
			}

			&:hover {
				background-color: color(brand-dark);
			}
			@include media($mobile) {
				display: block;
			}
		}

		nav {
			@include outer-container();
			@include pads(1 0 0 0);
			@extend %medium-size;
			@extend %medium-weight;
			color: color(white);

			h1 {
				margin-left: 1rem;
				display: inline;

				&::after {
					content: "Mediation Culture Inclusion";
				}

				@include media(max-width 405px) {
					&::after {
						content: "MCI";
						font-size: 1.2857rem;
					}
				}



			}

			ul {
				display: inline-block;
				float: right;
				margin-right: 1rem;
				margin-top: 0rem;

				@include media($mobile) {
					margin-top: 1rem;
					margin-right: 0rem;
					display: block;		// necessary to avoid extra spaces for top/bottom text glyphis with overflow: hidden
					background-color: color(white);
					width: 100%;
					height: 0;
					overflow: hidden;
					@include transition( height .4s);
				}

				&.open {
					@include media($mobile) {
		 				//height: 24rem;		// when the abstract is present in the menu
		 				height: 100vh;
		 			}
				}

				li {
					display: inline;

					@include media($mobile) {
						display: list-item;
						border-bottom: 1px solid color(brand);
						@include pads(1 0 1 2);
					}
					
					a {
						color: color(white);
						text-decoration: none;

						&:hover {
							color: color(white);
							border-bottom: 2px solid color(white);
						}

						&:visited {
							color: color(white);
						}
						&:active {
							color: color(white);
						}

						@include media($mobile) {

							color: color(brand);

							&:hover {
								color: color(brand);
								border-bottom: 2px solid color(white);
							}

							&:visited {
								color: color(brand);
							}
							&:active {
								color: color(brand);
							}
						}
					}
				}
			}
		}
	}

	.container {
		@include outer-container();
		@include pads(4 1 4 1);
	}

	h2 {
		@extend %baseline-size;
		@extend %bold-weight;
		margin-bottom: 0.5rem;
	}

	.description {
		@include span-columns(8);
		@extend %medium-size;
		@extend %medium-weight;

		@include media($tablet) {
			@include span-columns(8);
		}
		@include media($mobile) {
			@include span-columns(4);
		}
	}

	.hr-container {
		@include outer-container();
		@include pads(0 1 0 1);
		hr {
			@include span-columns(12);
			border-top: 0.1rem solid color(brand);
		}
	}
	

	.workshop-title {
		background-color: color(brand);
		color: color(white);
		border-top: 1px solid color(white);
		padding-top: 4rem;

		.container {
			padding-bottom: 5rem;
		}
		.workshop-subtitle {
			@include span-columns(12);
			@extend %large-size;
			@extend %medium-weight;
			color: color(white);
		}
		h1 {
			@extend %large-size;
			@extend %bold-weight;
			color: color(white);
		}
		.description {
			@extend %large-size;
			@extend %medium-weight;
			color: color(white);
		}
		.place-time {
			@include span-columns(8);
			@extend %baseline-size;
			color: color(white);
			margin-top: 1rem;
		}
	}

	.people-lists {
		@include span-columns(8);
		margin-top: 3rem;

		@include media($tablet) {
			@include span-columns(8);
		}
		@include media($mobile) {
			@include span-columns(4);
		}

		.list {
			@include span-columns(6);
			@include omega(2n);
			margin-bottom: 2rem;

			@include media($tablet) {
				@include span-columns(4);
				@include omega(2n);
			}
			@include media($mobile) {
			@include span-columns(4);
		}

			@extend %baseline-size;

			h3 {
				@extend %bold-weight;
				margin-bottom: 0.5rem;
			}

			ul {
				li {
					@extend %regular-weight;
					a {
						color: color(black);
						text-decoration: none;
						&:hover {
							border-bottom: 1px solid color(black);
						}					
					}
				}

				li + li {
					margin-top: 0.3rem;
				}
			}
		}		
	}

	.project-lists {
		ul {
			li {
				@include span-columns(4);
				@include omega(3n);
				margin-top: 2rem;
				img {
					width: 100%;
					height: auto;
				}

				h3 {
					padding-top: 1rem;
					width: 100%;
					border-top: 1px solid color(black);
					text-align: center;

				}
			}
		}
	}

	.info-items {
		@include span-columns(12);

		@include media($tablet) {
			@include span-columns(8);
		}
		@include media($mobile) {
			@include span-columns(4);
		}

		div + div {
			margin-bottom: 1rem;

			@include media($tablet) {
				margin-top: 2rem;
			}
			@include media($mobile) {
				margin-top: 2rem;
			}
		}

		.info-info {
			@include media($desktop) {
				@include span-columns(8 of 12);
			}
			@include media($tablet) {
				@include span-columns(8);

			}
			@include media($mobile) {
				@include span-columns(4);
			}

			@extend %medium-size;
			@extend %medium-weight;
			p + p {
				margin-top: 1rem;
			}
			a {
				text-decoration: none;
				color: color(black);

				&:hover {
					border-bottom: 1px solid color(black);
				}
			}
		}

		.info-more {
			margin-top: 2rem;
			@include media($desktop) {
				@include span-columns(4 of 12);
			}

			@include media($tablet) {
				@include span-columns(8/3 of 8);
			}
			@include media($mobile) {
				@include span-columns(4);
			}

			a {
				text-decoration: none;
			}
		}

		img {
			width: 2.5rem;
			height: auto;
		}
	}

	footer {
		height: 4rem;
		background-color: color(brand);
	}

}